
.jumbotron{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    justify-content:center ;
    background-color: coral;
}

.jumbotron img{
    float: right;
    height: 35vh;
}
.jumbotron h1,h2{
    margin-left: 20px;
    font-family: 'Pacifico', cursive;
}
.footer li{
display: inline;

}

footer p{
    font-weight: bold;
}

.order-container i{
    margin: 0px 2px 0px 2px;
    

}

.order-number{
    display: flex;
    justify-content: space-between;
}

.order-price{
    float: right;
}


}
.ordernow-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:55px ;
}
#order-items{
    display: none;
}

.crust-number{
    display: flex;
    justify-content: space-between;
}

.crust-price{
    float: right;
}
.topping-number{
    display: flex;
    justify-content: space-between;
}

.topping-price{
    float: right;
}

.delivery-location{
    display: flex;
    justify-content: space-between;
}

.order-delivery{
    float: right;
}

.show-confirmation{
    display: block;
}
.social-icons{
    font-size: 30px;
    margin: 0px 8px 0px 8px;
}